/* Общие стили */
body {
    background: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    margin: 0;
    overflow-x: hidden;
}

.main-header {
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Яркая кнопка ACCESS */
.main-access-btn {
    background: #fff !important;
    color: #000 !important;
    font-weight: 900;
    border: none;
    padding: 6px 18px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Контентные секции */
.content-section {
    display: none;
    max-width: 900px;
    margin: 110px auto 100px; /* Опускаем от шапки и даем место для ввода снизу */
    padding: 0 20px;
}

.card {
    background: #050505;
    border: 1px solid #111;
    padding: 25px;
    border-radius: 2px;
}

/* Кабинет */
.profile-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.avatar-current {
    width: 70px;
    height: 70px;
    border: 1px solid #222;
    background: #000;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border-top: 1px solid #111;
    padding-top: 20px;
}

.avatar-grid {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 10px;
    background: #080808;
}

.avatar-grid img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #222;
}

/* Чат */
.chat-box {
    height: 65vh;
    overflow-y: auto;
    border: 1px solid #111;
    padding: 15px;
    background: #020202;
}

.chat-msg {
    margin-bottom: 8px;
    border-left: 2px solid #222;
    padding-left: 10px;
}

/* Панель ввода */
.chat-input-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    border-top: 1px solid #111;
    padding: 15px 0;
    z-index: 999;
}

.input-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

#chat-msg-input {
    flex: 1;
    background: #0a0a0a;
    border: 1px solid #222;
    color: #fff;
    padding: 12px;
    outline: none;
}

.send-btn {
    background: #fff;
    color: #000;
    border: none;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
}

.logout-btn {
    margin-top: 30px;
    width: 100%;
    background: none;
    border: 1px solid #ff3e3e;
    color: #ff3e3e;
    padding: 10px;
    cursor: pointer;
}
